<header>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container-fluid">
            <a href="/admin"><img style="height: 5rem; width:11rem; border-radius: 1rem; " src="/images/Admin_header.jpg"
                    alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {{#if superadmin }}
            <h4 class="text-secondary"><b>ADMIN PANEL</b></h4>
            {{else}}
            
            
            {{/if}}
            {{#if superadmin}}

            <div class="collapse navbar-collapse ps-5 me-auto" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-secondary" aria-current="page" href="/admin"><b>All Products</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="#"><b>All Users</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="/admin/allOrders"><b>All Orders</b></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <b>Manage Order status</b>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/admin/admin-orders">update order status</a></li>
                            <li><a class="dropdown-item" href="/admin/deliverd-orders">deliverd orders</a></li>


                        </ul>
                    </li>

                </ul>
                

            </div>
            {{/if}}
            {{#if superadmin}}
            <a href="admin/admin-logout"><button class="btn btn-secondary text-white"><b>Logout</b></button></a>
            {{!-- {{else}}
            <a href="admin/admin-login"><button class="btn btn-primary">Login</button></a> --}}
            {{/if}}
        </div>
    </nav>
</header>