<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #cd9cf2;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to top left,rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
    }
</style>
<section class="">
    <div style="height: 35rem;" class="gradient-custom">
        <div class="bg-white text-center" style="height: 395px; width: 646px; position: absolute; top: 26%; left: 26%; border-radius: 15px;">
                <div class="pt-5">
                    <img style="height: 110px;" src="https://i.ibb.co/C57FqmX/success.png" alt="">
                </div>
                <div class="pt-5">
                    <h4>" Your order placed successfully "</h4>
                </div>
                <div class="pt-5">
                    <a href="/view-orders" style="color: inherit; "><button style="background: #e7b0ff;" class="btn btn-sm  text-white px-lg-5 px-3"><b>View orders</b></button></a>
                </div>
            </div>
    </div>
        
            
        

    
</section>