<style>
    .gradient-custom {
        /* fallback for old browsers */
        background: #cd9cf2;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to top left, rgba(205, 156, 242, 1), rgba(246, 243, 255, 1))
    }
</style>
<section class="">
    <div class="gradient-custom" style="height: 35rem;">
        <div class="container d-flex align-items-center justify-content-center">
            {{!-- left div --}}
            <form action="/user-details" method="post" id="checkout-form">
                <div class="left bg-white mt-5 pt-3 ps-3 rounded-4" style="width: 20rem; float: left; height: 27rem;">
                    <div class="col-12 px-4 text-center" style="">
                        <h4 class="text-secondary fw-bold">Shipping Address</h4>

                        <hr class="mt-1" />
                    </div>
                    <div class=" left bg-white " style="width: 18rem">
                        <h5 class="text-center text-secondary">Add New Address</h5>


                        <div>
                            <div class="col ">
                                <label for="" class="text-secondary"><b>Name</b></label>
                                <input type="text" style="border-color: #c77fe9;" class="form-control " placeholder="First name" name="name" id="name">
                            </div>

                        </div>
                        <div>
                            <label for="" class="text-secondary"><b>Address</b></label>
                            <input class="form-control" type="text" style="border-color: #c77fe9;" placeholder="Address" name="address" id="address">
                        </div>
                        <div>
                            <label for="" class="text-secondary"><b>Mobile no</b></label>
                            <input class="form-control" type="text" style="border-color: #c77fe9;" placeholder="Mobile no" name="mobile" id="mobile">
                        </div>
                        <div class="">
                            <div>
                                <label for="" class="text-secondary"><b>City</b></label>
                                <input class="form-control" type="text" style="border-color: #c77fe9;" placeholder="City" name="city" id="city">
                            </div>
                            <div>
                                <label for="" class="text-secondary"><b>Pincode</b></label>
                                <input class="form-control" type="text" style="border-color: #c77fe9;" placeholder="Pincode" name="pincode"
                                    id="pincode">
                                <input type="text" name="userid" value="{{user._id}}" hidden>
                            </div>

                        </div>
                    </div>
                    


                </div>


                <div class="right bg-white ms-5 pt-3 mt-5 rounded-4" style="width: 20rem; height: 27rem; float: left;">
                    <div class="text-center">
                        
                            <h4 class="text-secondary fw-bold">Payment Method</h4>
                        
                        <hr class="mt-1" />
                    </div>

                    <div class=" text-center pt-3 ">
                        <div class="px-md-0 px-1">
                            <b>
                                <h4 class="text-secondary fw-bold">Total Amount </h4>
                            </b>

                            <h4 class="fw-bold pt-4">₹{{total}} </h4>

                        </div>
                    </div>
                    <div class="ps-5 pt-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment-method" id="payment-method"
                                value="COD" checked>
                            <label class="form-check-label" for="payment-method">
                                COD
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="payment-method" id="payment-method"
                                value="Online">
                            <label class="form-check-label" for="payment-method">
                                Online Payment
                            </label>
                        </div>
                        
                    </div>
                    <div class="pt-5 text-center" style="">
                            <input type="submit" class="btn btn-sm btn-secondary text-white px-lg-5 px-3  " value="Check out">
                        </div>

                </div>
            </form>
        </div>
    </div>


</section>
<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user-details',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.codSuccess) {
                    location.href = '/order-status'
                } else {
                    razorPayment(response)
                }
            }

        })

    })
    function razorPayment(order) {
        var options = {
            "key": "rzp_test_xM0ObMLfJ8FRhi", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Ezz Cart",
            "description": "Test Transaction",
            "image": "https://i.ibb.co/88qB79S/photo-2023-03-17-17-15-09.jpg",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "handler": function (response) {


                verifyPayment(response, order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment, order) {

        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = '/order-status'
                } else {
                    alert("payment failed")
                }

            }




        })
    }
</script>